<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1" href="/home">
    <i class="fab fa-twitter" style="padding-right: 1rem"></i>
    <i class="fas fa-database" style="padding-right: 1rem"></i>
    Twitter Analytics</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
