<nav class="nav flex-column nav-pills nav-justified">
  <a class="nav-link a-custom" routerLink="./tweets" routerLinkActive="active">
    <i class="fab fa-twitter" style="padding-right: 1rem"></i>Tweets
  </a>
  <a class="nav-link a-custom" routerLink="./users" routerLinkActive="active">
    <i class="fas fa-user" style="padding-right: 1rem"></i>Users
  </a>
  <a class="nav-link a-custom" routerLink="./places" routerLinkActive="active">
    <i class="fas fa-globe-europe" style="padding-right: 1rem"></i>Places
  </a>
</nav>
