<ngb-accordion #acc="ngbAccordion">
  <ngb-panel id="toggle-1" title="All Visitors - la query restituisce il numero di utenti generici visitatori dell'expo"
             (shown)="allVisitors()" (hidden)="loading[1]=true">
    <ng-template ngbPanelContent>
      <ngx-charts-linear-gauge
        *ngIf="!loading[1]"
        [view]="reducedView"
        [scheme]="colorScheme[1]"
        [value]="chartObject[1]"
        [previousValue]="total"
        [units]="unitsAllVisitors">
      </ngx-charts-linear-gauge>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-2"
             title="All Verified Visitors - la query restituisce il numero di utenti verificati visitatori dell'expo"
             (shown)="allVerifiedVisitors()" (hidden)="loading[0]=true">

    <ng-template ngbPanelContent>
      <ngx-charts-linear-gauge
        *ngIf="!loading[0]"
        [view]="reducedView"
        [scheme]="colorScheme[0]"
        [value]="chartObject[0]"
        [previousValue]="total"
        [units]="unitsAllVerifiedVisitors">
      </ngx-charts-linear-gauge>
    </ng-template>
  </ngb-panel>
  <ngb-panel id="toggle-3"
             title="All Visitors By Day - la query restituisce il numero di utenti generici, visitatori dell'expo, suddivisi per data"
             (shown)="allVisitorsByDay()" (hidden)="loading[2]=true">
    <ng-template ngbPanelContent>
      <ngx-charts-bar-vertical
        *ngIf="!loading[2]"
        [view]="view"
        [scheme]="colorScheme[2]"
        [results]="chartObject[2]"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [showGridLines]="gridLines"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
      </ngx-charts-bar-vertical>
    </ng-template>
  </ngb-panel>

  <ngb-panel id="toggle-4"
             title="All Users By Day - la query restituisce il numero di utenti suddivisi per data"
             (shown)="allVisitorsByDayWithoutGeo()" (hidden)="loading[3]=true">
    <ng-template ngbPanelContent>
      <ngx-charts-bar-vertical
        *ngIf="!loading[3]"
        [view]="view"
        [scheme]="colorScheme[3]"
        [results]="chartObject[3]"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [showGridLines]="gridLines"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel">
      </ngx-charts-bar-vertical>
    </ng-template>
  </ngb-panel>

</ngb-accordion>
